@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

:root {
  --color-primary: #049583;
  --color-letter: #f7f7f7;
  --color-values: #ffbb3a;
  --bg-gray: #e2e2e2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html,
body {
  background-color: var(--bg-gray);
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

/* HEADER ============================== */
.home {
  background: var(--color-primary);
  padding: 20px 100px;
  border-bottom: 5px solid var(--bg-gray);
}

.home header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home header > h2 {
  color: var(--color-letter);
  font-style: normal;
  font-weight: bold;
  font-size: 2rem; /* 32px */
}

.home header > nav {
  display: flex;
  list-style: none;
}

.home header .input {
  display: flex;
}

.home header .input p {
  font-weight: normal;
  font-size: 0.8rem;

  left: 851px;
  top: 22px;

  display: flex;
  align-items: center;
  text-align: center;

  color: var(--color-letter);
}

div.input button {
  background: var(--color-primary);
  border: 0;
  padding: 0 16px;
  border-radius: 0px 4px 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input button img {
  width: 80%;
}

/* MOVIES ========================= */
.movies_title {
  padding-top: 50px;
  font-weight: bold;
  font-size: 50px;
  color: var(--color-primary);
  justify-self: center;
}

.movies_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 80px;
  justify-items: center;
}

.movies_movies {
  background: rgba(196, 196, 196, 0.07);
  border: 1px solid rgba(196, 196, 196, 0.76);
  box-sizing: border-box;
  backdrop-filter: blur(56px);
  border-radius: 12px;
  padding: 65px 25px 55px 25px;
}

.movies_div {
  text-align: center;
  justify-self: center;
}

.movies_text {
  padding-top: 20px;
  padding-bottom: 25px;
  font-weight: bold;
  font-size: 30px;
  color: var(--title-color);
}

.movies_description {
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: var(--text-color);
}

.values {
  color: var(--color-values);
  font-size: 1.2rem;
}

button {
  width: 80%;
  height: 40px;

  color: var(--color-letter);
  background: var(--color-primary);
  border: none;
}

button p {
  font-size: 1rem;
  display: flex;
  align-items: center;
  text-align: center;
}
